<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% for element in ezpublish.legacy.get( 'title_path' )|reverse|slice( 0, 2 ) %}
        {{ element.text }}{% if not loop.last %} / {% endif %}
    {%endfor %}</title>
</head>
<body>
    <h1>Default layout</h1>
    <p>
        This is the default layout provided by the EzPublishLegacyBundle. To
        override it, you can use the following configuration:
    </p>
    <pre>
        # for instance in ezpublish.yml
        # The "default" scope can be replaced by any available scope
        # https://confluence.ez.no/display/EZP/Configuration#Configuration-Scope
        parameters:
            ezpublish_legacy.default.view_default_layout: YourBundle::pagelayout.html.twig
    </pre>

    <h1>The legacy generated content</h1>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
