language: php

# hint that we don't need sudo to use container based test system
sudo: false

 # cache composer cache across builds
cache:
  directories:
    - $HOME/.composer/cache

# execute unit tests, integration test stubs and integration tests using legacy storage engine
env:
  global:
    - DB_NAME="testdb"

matrix:
  # mark as finished before allow_failures are run
  fast_finish: true
  # misc nighlty tests we keep an eye on and aim to fix closer to stable versions
  allow_failures:
    - php: 5.5
      env: TEST_CONFIG="phpunit.xml" SYMFONY_VERSION="~2.7@dev"
    - php: hhvm-nightly
      env: TEST_CONFIG="phpunit.xml"
    - php: nightly
      env: TEST_CONFIG="phpunit.xml"
  include:
# 5.4
    - php: 5.4
      env: TEST_CONFIG="phpunit.xml"
    - php: 5.4
      env: TEST_CONFIG="phpunit-integration-legacy.xml" DB="postgresql" DATABASE="pgsql://postgres@localhost/$DB_NAME"
    - php: 5.4
      env: SOLR_VERSION="4.10.1" TEST_CONFIG="phpunit-integration-legacy-solr.xml"
# 5.5
    - php: 5.5
      env: TEST_CONFIG="phpunit.xml" SYMFONY_VERSION="~2.7@dev"
    - php: 5.5
      env: TEST_CONFIG="phpunit-integration-legacy.xml" DB="mysql" DATABASE="mysql://root@localhost/$DB_NAME"
    - php: 5.5
      env: ELASTICSEARCH_VERSION="1.4.2" TEST_CONFIG="phpunit-integration-legacy-elasticsearch.xml"
# 5.6
    - php: 5.6
      env: TEST_CONFIG="phpunit.xml"
    - php: 5.6
      env: TEST_CONFIG="phpunit-integration-legacy.xml"
# Disable to test containers, this should ideally be covered by dowstream build feature of travis anyway..
#    - php: 5.6
#      env: BEHAT_PROFILE="demo" TEST="clean"
# hhvm-nightly
    - php: hhvm-nightly
      env: TEST_CONFIG="phpunit.xml"
# 7.0 "nightly"
    - php: nightly
      env: TEST_CONFIG="phpunit.xml"


# test only master (+ Pull requests)
branches:
  only:
    - master

# setup requirements for running unit/integration/behat tests
before_script:
  # Prepare system
  - if [ "$TEST_CONFIG" != "" ] ; then ./bin/.travis/prepare_unittest.sh ; fi
  - if [ "$BEHAT_PROFILE" != "" ] ; then ./bin/.travis/prepare_behat.sh ; fi
  # Detecting timezone issues by testing on random timezone
  - TEST_TIMEZONES=("America/New_York" "Asia/Calcutta" "UTC")
  - TEST_TIMEZONE=${TEST_TIMEZONES["`shuf -i 0-2 -n 1`"]}
  - echo "$TEST_TIMEZONE"

# execute phpunit or behat as the script command
script:
  - if [ "$TEST_CONFIG" != "" ] ; then php -d date.timezone=$TEST_TIMEZONE -d memory_limit=-1 vendor/bin/phpunit -c $TEST_CONFIG ; fi
  - if [ "$BEHAT_PROFILE" != "" ] ; then cd "$HOME/build/ezpublish-community" && php bin/behat -vv --profile $BEHAT_PROFILE --suite $TEST ; fi

# disable mail notifications
notification:
  email: false

# reduce depth (history) of git checkout
git:
  depth: 30
