language: php

# run tests on php misc php versions
php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5

# execute unit tests, integration test stubs and integration tests using legacy storage engine
env:
  - TEST_CONFIG="phpunit.xml"
  - TEST_CONFIG="phpunit-integration.xml"
  - TEST_CONFIG="phpunit-integration-legacy.xml"
  - TEST_CONFIG="phpunit-integration-legacy-solr.xml"

matrix:
  allow_failures:
    - php: 5.5
  exclude:
    - php: 5.5
      env: TEST_CONFIG="phpunit-integration.xml"
    - php: 5.5
      env: TEST_CONFIG="phpunit-integration-legacy.xml"
    - php: 5.5
      env: TEST_CONFIG="phpunit-integration-legacy-solr.xml"
    - php: 5.3
      env: TEST_CONFIG="phpunit-integration-legacy.xml"
    - php: 5.3
      env: TEST_CONFIG="phpunit-integration-legacy-solr.xml"

# test only master (+ Pull requests)
branches:
  only:
    - master

# setup requirements for running unit tests
before_script:
  - cp config.php-DEVELOPMENT config.php
  - ./composer_install_github_key.sh
  - composer install --dev --prefer-source
  - "if [ \"$TEST_CONFIG\" = \"phpunit-integration-legacy-solr.xml\" ] ; then curl https://raw.github.com/patrickallaert/travis-solr/master/travis-solr.sh | SOLR_VERSION=3.6.2 SOLR_CONFS=eZ/Publish/Core/Persistence/Solr/Content/Search/schema.xml bash ; fi"

# execute phpunit as the script command
script: "phpunit -d memory_limit=-1 -c $TEST_CONFIG"

# disable mail notifications
notification:
  email: false

# reduce depth (history) of git checkout
git:
  depth: 30
