<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  >
  <testsuites>
    <testsuite name="eZ\Publish\Core\Base">
      <directory>eZ/Publish/Core/Base/Tests</directory>
    </testsuite>
    <testsuite name="eZ\Publish\Core\API">
      <directory>eZ/Publish/Core/API/Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">eZ</directory>
      <exclude>
          <directory suffix=".php">eZ/Publish/Core/Base/Tests</directory>
          <directory suffix=".php">eZ/Publish/Core/API/Tests</directory>
          <!-- directory suffix=".php">ezp/Persistence/Tests</directory -->
          <!-- directory suffix=".php">ezp/Persistence/Storage/Legacy/Tests</directory -->
          <!-- directory suffix=".php">ezp/Io/Tests</directory -->
          <directory suffix=".php">doc</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
