<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="testsBootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  >
  <testsuites>
    <testsuite name="ezp\Base">
      <directory>ezp/Base/Tests</directory>
    </testsuite>
    <testsuite name="ezp\Content">
      <!-- could be simplified with:
      <directory>ezp/Content/Tests</directory>
      -->
      <file>ezp/Content/Tests/ContentTest.php</file>
      <!--file>ezp/Content/Tests/CriteriaCollectionTest.php</file-->
      <file>ezp/Content/Tests/LocationTest.php</file>
      <file>ezp/Content/Tests/SectionTest.php</file>
      <file>ezp/Content/Tests/QueryBuilderTest.php</file>
      <file>ezp/Content/Tests/TranslationTest.php</file>
      <directory>ezp/Content/Tests/Location</directory>
    </testsuite>
    <testsuite name="ezp\Persistence">
      <directory>ezp/Persistence/Tests</directory>
    </testsuite>
    <testsuite name="ezp\Persistence\Storage\Legacy">
      <directory>ezp/Persistence/Storage/Legacy/Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">ezp</directory>
      <exclude>
        <directory suffix=".php">ezp/Persistence/Storage/Legacy/Tests</directory>
        <directory suffix=".php">ezp/Stubs</directory>
        <file>ezp/index.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
