{% set params = { "objectParameters": {} } %}
{% if embedParams.config is defined  %}
    {% set params = params|merge( { "objectParameters": embedParams.config } ) %}
{% endif %}
{% if embedParams.link is defined  %}
    {% set params = params|merge( { "linkParameters": embedParams.link } ) %}
{% endif %}
<div class="{% if embedParams.align is defined %}align-{{ embedParams.align }}{% endif %}{% if embedParams.class is defined %} {{ embedParams.class }}{% endif %}">
    {{ fos_httpcache_tag('relation-' ~ embedParams.id) }}
    {{
        render(
            controller(
                "ez_content:embedContent",
                {
                    "contentId": embedParams.id,
                    "viewType": embedParams.viewType,
                    "params": params,
                    "layout": false
                }
            )
        )
    }}
</div>
