<div class="{% if align is defined %}align-{{ align }}{% endif %}{% if class is defined %} {{ class }}{% endif %}">
{{
    render(
        controller(
            "ez_content:viewLocation",
            {
                "locationId": id,
                "viewType": view,
                "params": params
            }
        )
    )
}}
</div>
