{% if collector.templates.full|length > 0 %}
    <h3>Loaded twig templates</h3>
    <table>
        <tr>
            <th>Loaded template</th>
            <th><abbr title="Usage count">#</abbr></th>
            <th><abbr title="Execution time (all occurrences, in milliseconds)">Exec. time (ms)</abbr></th>
        </tr>
        {% for tpl, time in collector.templates.full %}
            <tr>
                <td>{{ tpl }}</td>
                <td>{{ collector.templates.compact[tpl] }}</td>
                <td style="text-align: right">{{ time }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
