{% if collector.templates.compact|length %}
    <div class="sf-toolbar-info-piece">
        <b>Twig templates</b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.templates.compact|length }}</span>
    </div>

{% endif %}
