<div class="sf-toolbar-info-piece">
    <b>SPI (persistence)</b>
</div>
<div class="sf-toolbar-info-piece">
    <b>calls</b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.count }}</span>
</div>
<div class="sf-toolbar-info-piece">
    <b>handlers</b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.handlerscount }}</span>
</div>
