services:
    ezpublish.console.command.regenerate_url_aliases:
        class: eZ\Bundle\EzPublishCoreBundle\Command\RegenerateUrlAliasesCommand
        arguments:
            # intentionally passing inner repository to avoid sending Signals due to performance issues
            - '@ezpublish.api.inner_repository'
            - '@?logger'
        tags:
            - { name: console.command }

    ezplatform.core.command.debug_config_resolver:
        class: eZ\Bundle\EzPublishCoreBundle\Command\DebugConfigResolverCommand
        arguments:
            - "@ezpublish.config.resolver"
            - "@ezpublish.siteaccess"
        tags:
            - { name: console.command }
