parameters:
    # API
    ezpublish.api.storage_repository_provider.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\StorageRepositoryProvider
    ezpublish.api.repository.factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\RepositoryFactory
    ezpublish.api.repository.lazy_factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\LazyRepositoryFactory
    ezpublish.api.inner_repository.class: eZ\Publish\Core\Repository\Repository
    ezpublish.api.storage_engine.factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\StorageEngineFactory
    ezpublish.api.storage_engine.class: eZ\Publish\SPI\Persistence\Handler

    # Signal Slot API wrapper
    ezpublish.signalslot.repository.class: eZ\Publish\Core\SignalSlot\Repository
    ezpublish.signalslot.signal_dispatcher.class: eZ\Publish\Core\SignalSlot\SignalDispatcher\DefaultSignalDispatcher

    # Symfony event converter Slot
    ezpublish.signalslot.event_converter_slot.class: eZ\Bundle\EzPublishCoreBundle\SignalSlot\Slot\SymfonyEventConverterSlot

    # Using legacy storage engine for data compatibility with 4.x
    ezpublish.api.storage_engine.default: legacy

    ezpublish.api.content.class: eZ\Publish\Core\Repository\Values\Content\Content
    ezpublish.api.location.class: eZ\Publish\Core\Repository\Values\Content\Location

services:
    # API
    ezpublish.api.storage_repository_provider:
        class: %ezpublish.api.storage_repository_provider.class%
        arguments: [@ezpublish.config.resolver, %ezpublish.repositories%]

    ezpublish.api.repository.factory:
        class: %ezpublish.api.repository.factory.class%
        arguments:
            - @ezpublish.config.resolver
            - @ezpublish.field_type_collection.factory
            - %ezpublish.api.inner_repository.class%
        calls:
            - [setContainer, [@service_container]]

    # Deprecated
    ezpublish.api.repository.lazy_factory:
        class: %ezpublish.api.repository.lazy_factory.class%
        arguments: [@ezpublish.api.repository]

    # Deprecated
    # Use ezpublish.api.repository lazy service instead
    ezpublish.api.repository.lazy:
        class: Closure
        factory_service: ezpublish.api.repository.lazy_factory
        factory_method: buildRepository

    ezpublish.api.storage_engine.factory:
        class: %ezpublish.api.storage_engine.factory.class%
        arguments: [@ezpublish.api.storage_repository_provider]

    ezpublish.api.persistence_handler:
        class: %ezpublish.api.storage_engine.class%
        factory_service: ezpublish.api.storage_engine.factory
        factory_method: buildStorageEngine

    # Symfony event converter Slot
    ezpublish.signalslot.event_converter_slot:
        class: %ezpublish.signalslot.event_converter_slot.class%
        arguments: [@event_dispatcher]
        tags:
            - { name: ezpublish.api.slot, signal: * }
