parameters:
    ezpublish.kernel.root_dir: %kernel.root_dir%/../vendor/ezsystems/ezpublish-kernel

    # API
    ezpublish.api.repository.factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\RepositoryFactory
    ezpublish.api.repository.lazy_factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\LazyRepositoryFactory
    ezpublish.api.storage_engine.factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\StorageEngineFactory
    ezpublish.api.search_engine.factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\SearchEngineFactory

    # Symfony event converter Slot
    ezpublish.signalslot.event_converter_slot.class: eZ\Bundle\EzPublishCoreBundle\SignalSlot\Slot\SymfonyEventConverterSlot

    # Using legacy storage engine for data compatibility with 4.x
    ezpublish.api.storage_engine.default: legacy
    ezpublish.api.search_engine.default: legacy

    ezpublish.api.content.class: eZ\Publish\Core\Repository\Values\Content\Content
    ezpublish.api.location.class: eZ\Publish\Core\Repository\Values\Content\Location
    ezpublish.api.version.class: eZ\Publish\Core\Repository\Values\Content\VersionInfo

services:
    # API
    ezpublish.api.repository.factory:
        class: %ezpublish.api.repository.factory.class%
        arguments:
            - @ezpublish.config.resolver
            - @ezpublish.field_type_collection.factory
            - %ezpublish.api.inner_repository.class%
            - %ezpublish.api.role.policy_map%
        calls:
            - [setContainer, [@service_container]]

    # Deprecated
    ezpublish.api.repository.lazy_factory:
        class: %ezpublish.api.repository.lazy_factory.class%
        arguments: [@ezpublish.api.repository]

    # Deprecated
    # Use ezpublish.api.repository lazy service instead
    ezpublish.api.repository.lazy:
        class: Closure
        factory: ["@ezpublish.api.repository.lazy_factory", buildRepository]

    ezpublish.api.storage_engine.factory:
        class: %ezpublish.api.storage_engine.factory.class%
        arguments:
            - @ezpublish.api.repository_configuration_provider

    ezpublish.api.persistence_handler:
        #To disable cache, switch alias to ezpublish.api.storage_engine
        alias: ezpublish.spi.persistence.cache

    ezpublish.api.storage_engine:
        class: %ezpublish.api.storage_engine.class%
        factory: ["@ezpublish.api.storage_engine.factory", buildStorageEngine]
        public: false

    ezpublish.api.search_engine.factory:
        class: %ezpublish.api.search_engine.factory.class%
        arguments:
            - @ezpublish.api.repository_configuration_provider

    ezpublish.spi.search:
        alias: ezpublish.spi.search_engine

    ezpublish.spi.search_engine:
        class: %ezpublish.api.search_engine.class%
        factory: ["@ezpublish.api.search_engine.factory", buildSearchEngine]
        public: false

    # Signal Slot API wrapper
    ezpublish.signalslot.event_converter_slot:
        class: %ezpublish.signalslot.event_converter_slot.class%
        arguments: [@event_dispatcher]
        tags:
            - { name: ezpublish.api.slot, signal: '*' }
