parameters:
    ezpublish.security.user_provider.class: eZ\Publish\Core\MVC\Symfony\Security\User\Provider
    ezpublish.security.voter.core.class: eZ\Publish\Core\MVC\Symfony\Security\Authorization\Voter\CoreVoter
    ezpublish.security.voter.value_object.class: eZ\Publish\Core\MVC\Symfony\Security\Authorization\Voter\ValueObjectVoter
    ezpublish.security.controller.class: eZ\Publish\Core\MVC\Symfony\Controller\SecurityController
    ezpublish.security.login_listener.class: eZ\Publish\Core\MVC\Symfony\Security\EventListener\SecurityListener
    ezpublish.user.identity_definer.role_id.class: eZ\Publish\Core\MVC\Symfony\Security\User\ContextProvider\RoleContextProvider

services:
    ezpublish.security.user_provider:
        class: "%ezpublish.security.user_provider.class%"
        arguments: ["@ezpublish.api.repository"]

    ezpublish.security.voter.core:
        class: "%ezpublish.security.voter.core.class%"
        arguments: ["@ezpublish.api.repository"]
        public: false
        tags:
            - { name: security.voter }

    ezpublish.security.voter.value_object:
        class: "%ezpublish.security.voter.value_object.class%"
        arguments: ["@ezpublish.api.repository"]
        public: false
        tags:
            - { name: security.voter }

    ezpublish.security.controller:
        class: "%ezpublish.security.controller.class%"
        arguments: ["@templating", "@ezpublish.config.resolver", "@security.authentication_utils"]

    ezpublish.security.login_listener:
        class: "%ezpublish.security.login_listener.class%"
        arguments:
            - "@ezpublish.api.repository"
            - "@ezpublish.config.resolver"
            - "@event_dispatcher"
            - "@security.token_storage"
            - "@security.authorization_checker"
            - "%fragment.path%"
        tags:
            - { name: kernel.event_subscriber }

    # @todo Move to ezplatform-http-cache to drop FOSHttpCache dependency compactly from kernel?
    ezpublish.user.identity_definer.role_id:
        class: "%ezpublish.user.identity_definer.role_id.class%"
        arguments: ["@ezpublish.api.repository"]
        tags:
            - { name: fos_http_cache.user_context_provider }
