parameters:
    ezpublish.security.user_provider.class: eZ\Publish\Core\MVC\Symfony\Security\User\Provider
    ezpublish.security.voter.core.class: eZ\Publish\Core\MVC\Symfony\Security\Authorization\Voter\CoreVoter
    ezpublish.security.voter.value_object.class: eZ\Publish\Core\MVC\Symfony\Security\Authorization\Voter\ValueObjectVoter
    ezpublish.security.controller.class: eZ\Publish\Core\MVC\Symfony\Controller\SecurityController
    ezpublish.security.login_listener.class: eZ\Publish\Core\MVC\Symfony\Security\EventListener\SecurityListener

services:
    ezpublish.security.user_provider:
        class: "%ezpublish.security.user_provider.class%"
        arguments:
            - '@eZ\Publish\API\Repository\UserService'
            - '@eZ\Publish\API\Repository\PermissionResolver'

    ezpublish.security.voter.core:
        class: "%ezpublish.security.voter.core.class%"
        arguments: ["@ezpublish.api.repository"]
        public: false
        tags:
            - { name: security.voter }

    ezpublish.security.voter.value_object:
        class: "%ezpublish.security.voter.value_object.class%"
        arguments: ["@ezpublish.api.repository"]
        public: false
        tags:
            - { name: security.voter }

    ezpublish.security.controller:
        public: true
        class: "%ezpublish.security.controller.class%"
        arguments: ["@twig", "@ezpublish.config.resolver", "@security.authentication_utils"]

    ezpublish.security.login_listener:
        class: "%ezpublish.security.login_listener.class%"
        arguments:
            - '@eZ\Publish\API\Repository\PermissionResolver'
            - '@eZ\Publish\API\Repository\UserService'
            - "@ezpublish.config.resolver"
            - "@event_dispatcher"
            - "@security.token_storage"
            - "@security.authorization_checker"
            - "%fragment.path%"
        tags:
            - { name: kernel.event_subscriber }
