parameters:
    ezpublish.persistence.connection.factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\StorageConnectionFactory
    ezpublish.api.repository_configuration_provider.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\RepositoryConfigurationProvider
    ezpublish.persistence.connection.class: Doctrine\DBAL\Connection

services:
    ezpublish.api.repository_configuration_provider:
        class: "%ezpublish.api.repository_configuration_provider.class%"
        arguments:
            - "@ezpublish.config.resolver"
            - "%ezpublish.repositories%"

    ezpublish.persistence.connection.factory:
        class: "%ezpublish.persistence.connection.factory.class%"
        arguments:
            - "@ezpublish.api.repository_configuration_provider"
        calls:
            - [setContainer, ["@service_container"]]

    ezpublish.persistence.connection:
        class: "%ezpublish.persistence.connection.class%"
        factory: ["@ezpublish.persistence.connection.factory", getConnection]
        lazy: true

    # Legacy storage engine

    # Alias for backend connection used by eZ Publish storage engine
    # Useful if you need to reuse it in order to access resources not related to eZ Publish, but stored in your backend (e.g. foreign DB tables)
    ezpublish.connection:
        alias: ezpublish.api.storage_engine.legacy.dbhandler
        deprecated: 'The "%service_id%" service is deprecated. Use "ezpublish.persistence.connection" instead'

    ezpublish.api.storage_engine.legacy:
        alias: ezpublish.spi.persistence.legacy
