parameters:
    ezpublish.persistence.connection.factory.class: eZ\Bundle\EzPublishCoreBundle\ApiLoader\StorageConnectionFactory
    #ezpublish.api.storage_engine.legacy.dsn: <database_type>://<user>:<password>@<host>/<database_name>
    ezpublish.api.storage_engine.legacy.defer_type_update: false

services:
    ezpublish.persistence.connection.factory:
        class: %ezpublish.persistence.connection.factory.class%
        arguments: [@ezpublish.api.storage_repository_provider]
        calls:
            - [setContainer, [@service_container]]

    ezpublish.persistence.connection:
        class: %ezpublish.persistence.connection.class%
        factory_service: ezpublish.persistence.connection.factory
        factory_method: getConnection
        lazy: true
