{% if collector.legacytemplates.compact|length %}
    <div class="sf-toolbar-info-piece">
        <b>Legacy templates</b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.legacytemplates.compact|length }}</span>
    </div>

{% endif %}
