parameters:
    ezpublish.core.io.handler.legacy.class: eZ\Publish\Core\IO\Handler\Legacy
    ezpublish.fieldType.ezimage.io_legacy.class: eZ\Publish\Core\FieldType\Image\IO\Legacy
    ezpublish.fieldType.ezimage.io_legacy.factory.class: eZ\Bundle\EzPublishLegacyBundle\FieldType\Image\IO\IOServiceFactory

services:
    ezpublish.core.io.handler.legacy:
        public: false
        class: %ezpublish.core.io.handler.legacy.class%
        factory_service: ezpublish.core.io.factory
        factory_method: getHandler
        arguments:
            - %ezpublish.core.io.handler.legacy.class%
            - [var_dir, storage_dir]
        calls:
            - [setLegacyKernelClosure, [@ezpublish_legacy.kernel]]

    ezpublish.fieldType.ezimage.io_legacy:
        class: %ezpublish.fieldType.ezimage.io_legacy.class%
        factory_service: ezpublish.fieldType.ezimage.io_legacy.factory
        factory_method: buildService
        arguments: [%ezpublish.fieldType.ezimage.io_legacy.class%]

    # overrides the IOService used by @ezpublish.fieldType.ezimage.externalStorage
    ezpublish.fieldType.ezimage.io:
        alias: ezpublish.fieldType.ezimage.io_legacy

    ezpublish.fieldType.ezimage.io_drafts:
        class: %ezpublish.core.io.service.class%
        factory_service: ezpublish.core.io.factory
        factory_method: getService
        arguments:
            - @ezpublish.core.io.handler.legacy
            - 'image.versioned_images_dir'

    ezpublish.fieldType.ezimage.io_legacy.factory:
        class: %ezpublish.fieldType.ezimage.io_legacy.factory.class%
        arguments:
            - @ezpublish.fieldType.ezimage.io_service
            - @ezpublish.fieldType.ezimage.io_drafts
            - @ezpublish.config.resolver
