{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve">
            <g>
                <path fill="#FFFFFF" d="M979.9,435.2V53H50.2v929.8H435v167.6h715.2V435.2H979.9z M435,892.7H140.3V143.1h749.5v292.1H435V892.7z" />
                <rect x="520.6" y="520.8" fill="#F15C25" width="544" height="543.9"/>
            </g>
        </svg>
    {% endset %}

    {% set text %}
        {% for name, inner_collector in collector.allCollectors %}
            {% set inner_template = collector.getToolbarTemplate( name ) %}
            {% if inner_template %}
                {% include inner_template with { "collector": inner_collector } %}

                {% if not loop.last %}<hr />{% endif %}
            {% endif %}

        {% endfor %}

    {% endset %}

    {# Set status on eZ logo in cases of lots of uncached SPI lookups, but as this might just be cold cache only mark as yellow #}
    {% set persistence_collector = collector.getCollector('ezpublish.debug.persistence') %}
    {% set total = persistence_collector.countHits + persistence_collector.countMisses %}
    {% set status = (persistence_collector.countHits/total) < 0.66 and total > 100 ? 'red' : ((persistence_collector.countHits/total) < 0.33 ? 'yellow' : '') %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status|default('') }) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve">
                <g>
                    <path fill="#FFFFFF" d="M979.9,435.2V53H50.2v929.8H435v167.6h715.2V435.2H979.9z M435,892.7H140.3V143.1h749.5v292.1H435V892.7z" />
                    <rect x="520.6" y="520.8" fill="#F15C25" width="544" height="543.9"/>
                </g>
            </svg>
        </span>
        <strong>eZ Platform</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Usage Information</h2>

    {% for name, inner_collector in collector.allCollectors %}
        {% set inner_template = collector.getPanelTemplate( name ) %}
        {% if inner_template %}{% include inner_template with { "collector": inner_collector } %}{% endif %}

        {% if not loop.last %}<hr />{% endif %}

    {% endfor %}

{% endblock %}
