{% if collector.siteAccess is not null %}
<h3>Site Access</h3>
<table>
    <tr>
        <th>Name</th><td>{{ collector.siteAccess.name }}</td>
    </tr>
    <tr>
        <th>Matching Type</th><td>{{ collector.siteAccess.matchingType }}</td>
    </tr>
</table>
{% endif %}
