{% if collector.siteAccess is not null %}
<div class="sf-toolbar-info-piece">
    <b>Site Access</b>
</div>
<div class="sf-toolbar-info-piece">
    <b>name</b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.siteAccess.name }}</span>
</div>
<div class="sf-toolbar-info-piece">
    <b>matching type</b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.siteAccess.matchingType }}</span>
</div>
{% endif %}
