<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="bootstrap.php">
    <php>
        <const name="EZ_PUBLIC_API_REPOSITORY" value="\ezp\PublicAPI\InMemory\Repository" />
    </php>
    <testsuites>
        <testsuite name="PublicAPI TestSuite">
            <file>RepositoryTest.php</file>
            <file>SectionServiceTest.php</file>
            <file>LanguageServiceTest.php</file>
            <file>ContentServiceTest.php</file>
            <file>ContentTypeServiceTest.php</file>
            <file>IOServiceTest.php</file>
            <file>LocationServiceTest.php</file>
            <file>RoleServiceTest.php</file>
            <file>TrashServiceTest.php</file>
            <file>UserServiceTest.php</file>
            <directory>./Exceptions</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
            <exclude>
                <directory>../Examples</directory>
                <directory>../Tests</directory>
                <directory>../Tutorials</directory>
            </exclude>
            <directory>../Tests/Stubs</directory>
        </whitelist>
    </filter>
</phpunit>
