<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="../../../../../bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         >
    <php>
        <env name="setupFactory" value="eZ\Publish\API\Repository\Tests\SetupFactory\Memory" />
        <env name="backendVersion" value="5" />
    </php>
    <testsuites>
        <testsuite name="eZ\Publish\API\Repository">
            <file>RepositoryTest.php</file>
            <file>SectionServiceTest.php</file>
            <file>LanguageServiceTest.php</file>
            <file>ContentTypeServiceTest.php</file>
            <file>ContentServiceTest.php</file>
            <file>LocationServiceTest.php</file>
            <file>UserServiceTest.php</file>
            <file>RoleServiceTest.php</file>
            <file>TrashServiceTest.php</file>
            <file>IOServiceTest.php</file>
            <file>IOServiceTest/testNewBinaryCreateStructFromUploadedFile.phpt</file>
            <file>URLAliasServiceTest.php</file>
            <file>URLWildcardServiceTest.php</file>
            <file>ObjectStateServiceTest.php</file>
            <file>SectionServiceAuthorizationTest.php</file>
            <file>LanguageServiceAuthorizationTest.php</file>
            <file>ContentTypeServiceAuthorizationTest.php</file>
            <file>ContentServiceAuthorizationTest.php</file>
            <file>LocationServiceAuthorizationTest.php</file>
            <file>UserServiceAuthorizationTest.php</file>
            <file>RoleServiceAuthorizationTest.php</file>
            <file>TrashServiceAuthorizationTest.php</file>
            <file>URLWildcardServiceAuthorizationTest.php</file>
            <file>ObjectStateServiceAuthorizationTest.php</file>
            <directory>FieldType/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
            <exclude>
                <directory suffix="Test.php">../Tests</directory>
                <directory>../Tests/_fixtures</directory>
                <file>../Tests/common.php</file>

                <directory>../Examples</directory>
                <directory>../Tutorials</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
