<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="../../../../bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="eZ\Publish\Core\REST\Common">
            <directory>Common/Tests/</directory>
        </testsuite>
        <testsuite name="eZ\Publish\Core\REST\Server">
            <directory>Server/Tests/</directory>
        </testsuite>
        <testsuite name="eZ\Publish\Core\REST\Client">
            <directory>Client/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>Common/Tests</directory>
                <directory>Server/Tests</directory>
                <directory>Client/Tests</directory>
                <file>common.php</file>
                <file>Server/index.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
